* {
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#input {
  border: none;
  border-radius: 10px;
  height: 20px;
  width: 100px;
  text-align: center;
}

#container-1 {
  display: flex;
  width: 100vw;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(246.26deg, #ED4683 0%, #F48E14 100%);
  color: white;
  
}
#container-1 #placeholder {
  font-size: 6em;
}

#container-2 {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0.699);



}

#container-2 .headline {
  font-size: 1.2em;
  font-weight: bold;
}

#container-2 #length{
  display: flex;
  height: 200px;
  width: 500px;
  /* border: 1px solid blue; */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  
  
}


#container-2 #volume {
  display: flex;
  height: 200px;
  width: 500px;
  /* border: 1px solid blue; */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
#mass {
  display: flex;
  height: 200px;
  width: 500px;
  /* border: 1px solid blue; */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}



